<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard BritsEdu</title>
        <%- include('../../partials/head') %>
        <link href="<%= hostname %>dashboard/css/styles.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>

        <style>
            #layoutSidenav_content > main > div > div:nth-child(1) > div.card-body > div {
                overflow-x:auto;
            }
        </style>
    </head>
    <%
    function formatDate(date) {
        // Days of the week in Bahasa Indonesia
        const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'];
    
        // Get day, month, year
        const dayName = days[date.getDay()]; // Get the day name
        const day = String(date.getDate()).padStart(2, '0'); // Format day as 2 digits
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Format month as 2 digits (months are 0-based)
        const year = String(date.getFullYear()).slice(-2); // Get last 2 digits of the year
    
        return `${dayName}, ${day}-${month}-${year}`;
    }
    %>
    <body class="nav-fixed">
       <%- include('partials/topNav') %> 
        <div id="layoutSidenav">
        <%- include('partials/sideNav') %>   
        <div id="layoutSidenav_content">
            <main>
                <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                    <div class="container-xl px-4">
                        <div class="page-header-content pt-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto mt-4">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon"><i data-feather="alert-circle"></i></div>
                                        Welcome, Master!
                                    </h1>
                                    <div class="page-header-subtitle">BritsEdu, <span style="font-style: italic;">your key to excel</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Main page content-->
                <div class="container-xl px-4">
                    <div class="card mt-n10">
                        <div class="card-header py-3">
                            Buat token
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form method="POST" action="/admin/manajemen-token/tambah-token">
                                        <label class="form-label">Nama token : </label>
                                        <input
                                        name="namaToken" class="form-control"
                                        type="text">
                                        <label class="form-label">Paket Soal : </label>
                                        <input
                                        name="owner" class="form-control"
                                        type="text">
                                        <label class="form-label">Max subtes : </label>
                                        <input
                                        name="maxSubtest" class="form-control"
                                        type="number" step="1" min="3" max="12">
                                        <label class="form-label">Kategori: </label>
                                        <select class="form-select" name="kategori" id="kategori">
                                           <option value="TPS">TPS (Tes Potensi Skolastik)</option>
                                           <option value="Literasi">Literasi</option>
                                           <option value="TKA Wajib">TKA Wajib</option>
                                           <option value="TKA Pilihan">TKA Pilihan</option>
                                           <option value="campur">Campur (Semua Kategori)</option>                                          
                                        </select>

                                        <label class="form-label">Kuota : </label>
                                        <input
                                        name="kuota" class="form-control"
                                        type="number" min="1">
                                        <div>

                                        </div>
                                    <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Buat token</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>                
                </div>

            </main>
            <%- include('../../partials/footer-dashboard') %>
        </div>     
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" crossorigin="anonymous"></script>
        <script src="<%= hostname %>dashboard/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="<%= hostname %>dashboard/js/datatables/datatables-simple-demo.js"></script>
        <script>
document.addEventListener('DOMContentLoaded', function() {
  if (window.feather) {
    feather.replace();
  }
});
</script>
    </body>
</html>
